[Unit]
Description="Pull BISS2022 from Git"

[Service]
ExecStart=/usr/bin/bash /home/projects/BISS/pull_BISS.sh
WorkingDirectory=/home/projects/BISS

[Install]
WantedBy=multi-user.target
